.v-enter-active,
.v-leave-active {
    /* アニメーションの時間、イージングなどを設定 */
    transition: opacity 500ms ease-out;
}

/* フェードイン */
.v-enter {
    /* フェードインの初期状態 */
    opacity: 0;
}

.v-enter-to {
    /* フェードインの終了状態 */
    opacity: 1;
}

/* フェードアウト */
.v-leave {
    /* フェードアウトの初期状態 */
    opacity: 1;
}

.v-leave-to {
    /* フェードアウトの終了状態 */
    opacity: 0
}