<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<title>Vue.js SPAのサンプルアプリケーション</title>
<style>
    /* 任意のCSSを記載、今回は割愛 */
    [v-cloak] {
      display: none /* テンプレートの{{}}を非表示にする */
    }
</style>
<body>
  <div id="app">
    <nav v-cloak>
      <!-- route-link によるナビゲーションを定義 -->
      <router-link to="/top">トップページ</router-link>
      <router-link to="/users">ユーザー一覧ページ</router-link>
      <router-link to="/users/new?redirect=true">新規ユーザー登録</router-link>
      <router-link to="/login" v-show="!Auth.loggedIn()">ログイン</router-link>
      <router-link to="/logout" v-show="Auth.loggedIn()">ログアウト</router-link>
    </nav>
    <router-view></router-view>
  </div>

  <!-- Vue.js本体とVue Routerの読み込み -->
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>

  <!-- ユーザー一覧ページのテンプレート -->
  <script type="text/x-template" id="user-list">
    <div>
      <div class="loading" v-if="loading">読み込み中...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <!-- usersがロードされたら各ユーザーの名前を表示する -->
      <div v-for="user in users" :key="user.id">
        <router-link :to="{ path: '/users/' + user.id }">{{ user.name }}</router-link>
      </div>
    </div>
  </script>

  <!-- ユーザー詳細ページのテンプレート -->
  <script type="text/x-template" id="user-detail">
    <div>
      <div class="loading" v-if="loading">読み込み中...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div v-if="user">
        <h2>{{ user.name }}</h2>
        <p>{{ user.description }}</p>
      </div>
    </div>
  </script>

  <!-- ユーザー作成ページのテンプレート -->
  <script type="text/x-template" id="user-create">
    <div>
      <div class="sending" v-if="sending">Sending...</div>
      <div>
        <h2>新規ユーザー作成</h2>
        <div>
          <label>名前:</label>
          <input type="text" v-model="user.name">
        </div>
        <div>
          <label>説明文:</label>
          <textarea v-model="user.description"></textarea>
        </div>
        <div v-if="error" class="error">
          {{ error }}
        </div>
        <div>
          <input type="button" @click="createUser" value="送信">
        </div>
      </div>
    </div>
  </script>

  <!-- ログインページのテンプレート -->
  <script type="text/x-template" id="login">
    <div>
      <h2>Lgoin</h2>
      <p v-if="$route.query.redirect">
        ログインしてください
      </p>
      <form @submit.prevent="login">
        <label><input v-model="email" placeholder="email"></label>
        <label><input v-model="pass" placeholder="password" type="password"></label><br>
        <button type="submit">ログイン</button>
        <p v-if="error" class="error">ログインに失敗しました</p>
      </form>
    </div>
  </script>

  <!-- 任意のJS実装 -->
  <script>
    // サンプルアプリケーション用のダミー認証モジュール
    var Auth = {
      login: function(email, pass, cb) {
        // ダミーデータを使った疑似ログイン
        setTimeout(function() {
          if (email === 'vue@example.com' && pass === 'vue') {
            // ログイン成功時はローカルストレージにtokenを保存する
            localStorage.token = Math.random().toString(36).substring(7)
            if (cb) { cb(true) }
          } else {
            if (cb) { cb(false) }
          }
        }, 0)
      },
      logout: function() {
        delete localStorage.token
      },
      loggedIn: function() {
        // ローカルストレージにtokenがあればログイン状態とみなす
        return !!localStorage.token
      }
    }

    // ダミーデータの定義。本来はデータベースの情報をAPI経由で取得する
    var userData = [
      {
        id: 1,
        name: 'Takuya Tejima',
        description: '東南アジアで働くエンジニアです。'
      },
      {
        id:2,
        name: 'Yohei Noda',
        description: 'アウトドア・フットサルが趣味のエンジニアです。'
      }
    ]


    // 擬似的にWeb API経由で情報を取得したようにする
    var getUsers = function (callback) {
      setTimeout(function() {
        callback(null, userData)
      }, 1000)
    }

    // ユーザーの詳細データ取得
    var getUser = function (userId, callback) {
      setTimeout(function() {
        var filteredUsers = userData.filter(function(user) {
          return user.id === parseInt(userId, 10)
        })
        callback(null, filteredUsers && filteredUsers[0])
      }, 1000)
    }

    // 擬似的にAPI経由で情報を更新したようにする
    // 実際のWebアプリケーションではServerへPOSTリクエストを行う
    var postUser = function(params, callback) {
      setTimeout(function() {
        // idは追加されるごとに自動的にincrementされていく
        params.id = userData.length + 1
        userData.push(params)
        callback(null, params)
      }, 1000)
    }

    // ログインコンポーネント
    var Login = {
      template: '#login',
      data: function() {
        return {
          email: 'vue@example.com',
          pass: '',
          error: false
        }
      },
      methods: {
        login: function() {
          Auth.login(this.email, this.pass, (function(loggedIn) {
            if (!loggedIn) {
              this.error = true
            } else {
              // redirectパラメーターがついている場合はそのパスに遷移
              this.$router.replace(this.$route.query.redirect || '/')
            }
          }).bind(this))
        }
      }
    }

    // ユーザーリストコンポーネント
    var UserList = {
      // HTML上のscriptタグのidを指定する
      template: '#user-list',
      data: function() {
        return {
          loading: false,
          users: function() { return [] }, // 初期値の空配列
          error: null
        }
      },
      // 初期化時にデータを取得する
      created: function() {
        this.fetchData()
      },
      // $routeの変更をwatchすることでルーティングが変更された時に再度データを取得する
      watch: {
        '$route':'fetchData'
      },
      methods: {
        fetchData: function () {
          this.loading = true
          // 取得したデータの結果をusersに格納する
          // Function.prototype.bindはthisのスコープを渡すために利用
          getUsers((function(err, users) {
            this.loading = false
            if (err) {
              this.error = err.toString()
            } else {
              this.users = users
            }
          }).bind(this))
        }
      }
    }

    // ユーザー詳細コンポーネント
    var UserDetail = {
      template: '#user-detail',
      // 初期値のセット
      data: function() {
        return {
          loading: false,
          user: null,
          error: null
        }
      },
      created: function() {
        this.fetchData()
      },
      watch: {
        '$route':'fetchData'
      },
      methods: {
        fetchData: function () {
          this.loading = true
          // $this.$route.params.userIdに現在のURL上のパラメータに対応したuserIdが格納される
          getUser(this.$route.params.userId, (function(err, user) {
            this.loading = false
            if (err) {
              this.error = err.toString()
            } else {
              this.user = user
            }
          }).bind(this))
        }
      }
    }

    // 新規ユーザー作成コンポーネント
    var UserCreate = {
      template: '#user-create',
      data: function() {
        return {
          sending: false,
          user: this.defaultUser(),
          error: null
        }
      },
      created: function() {
      },
      methods: {
        defaultUser: function() {
          return {
            name: '',
            description: ''
          }
        },
        createUser: function() {
          // 入力パラメーターのバリデーション
          if (this.user.name.trim() === '') {
            this.error = 'Nameは必須ですぞ'
            return
          }
          if (this.user.description.trim() === '') {
            this.error = 'Descriptionは必須ですぞ'
            return
          }
          postUser(this.user, (function(err, user){
            this.sending = false
            if (err) {
              this.error = err.toString()
            } else {
              this.error = null
              // デフォルトでフォームをリセット
              this.user = this.defaultUser()
              alert('新規ユーザーが登録されました')
              // ユーザー一覧ページに戻る
              this.$router.push('/users')
            }
          }).bind(this))
        }
      }
    }

    // ルートオプションを渡してルーターインスタンスを生成
    var router = new VueRouter({
      routes: [
        {
          path: '/top',
          component: {
            template: '<div>トップページです。</div>'
          }
        },
        {
          path: '/users',
          component: UserList
        },
        {
          path: '/users/new',
          component: UserCreate,
          beforeEnter: function (to, from, next) {
            // 認証されていない状態でアクセスした時はloginページに遷移する
            if (!Auth.loggedIn()) {
              next({
                path: '/login',
                query: { redirect: to.fullPath }
              })
            } else {
              next()
            }
          }
        },
        {
          // /users/newの前にこのルートを定義するとパターンマッチにより/users/newが動作しなくなるので注意
          path: '/users/:userId',
          component: UserDetail
        },
        {
          path: '/login',
          component: Login
        },
        {
          path: '/logout',
          beforeEnter: function(to, from, next) {
            Auth.logout()
            next('/top')
          }
        },
        {
          // 定義されていないパスへの対応。トップページへリダイレクトする
          path: '*',
          redirect: '/top'
        }
      ]
    })

    // ルーターのインスタンスをrootとなるVueインスタンスに渡す
    var app = new Vue({
      data: {
        Auth: Auth
      },
      router: router
    }).$mount('#app')
  </script>
</body>
</html>